 {% extends 'accounts/navbar.html' %}
{% load static %}
 {% load crispy_forms_tags %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'detail-post.css' %}">
{% endblock %}

{% block header_content %}

{% endblock %}
{% block page_content %}
<div class="page_content">

            <div class="heading" >
                <h1 class="head"> Replies </h1>
            </div>

            <div class="bottom-forum" >
                <div class="forum-title">
                      {% if response.user.student %}
                     <a href="../../profile/{{post.user.student.pk}}"><img src="../../static/user.png" alt="user" class="reply-user-photo"></a>
                      {%endif%}

                    <div style="width: 95%;">
                        <p > {{post.user.name}}: {{post.date}}</p>
                        <h2>
                            {{post.topic}}
                        </h2>
                        <p> {{post.text}}</p>
                    </div>
                    <div >
                        <button class="reply-btn-on-heading" onclick="openTextFieldToReply()">
                             <img src="../../static/respond_icon.png" alt="open" class = "reply-icon" >
                        </button>
                    </div>
                </div>
                <div class="forum-reply-content" id="forum-reply-content">
                    <div id="reply-container">
                        {% csrf_token %}
                        {{response_form|crispy}}

                        <button style="width: 80px; height: 40px;" class="btn btn-primary my-4" type="submit">Submit</button>

                    </div>
                </div>

                 {% for response in responses %}
                <tr >
                    <div style="display: flex">
                        <div style="width: 90%" class="single-reply-content">
                             {% if response.user.student %}
                            <a href="../../profile/{{response.user.student.pk}}">
                                {%endif%}

                                <img src="../../static/user.png" alt="user" class="reply-user-photo">
                            </a>
                            <div class = "single-reply-text-content">
                                <p > {{response.user.name}}: {{response.date}}</p>
                                {{response.text}}
                            </div>
                        </div>
                        {% if forum_user.user.name == response.user.name %}
                        <div>

                            <a href="../../delete-response/{{response.pk}}">
                                <input type="submit" value="delete" style="width: 100px; height:40px; background-color:red;">
                            </a>
                            {%endif%}
                        </div>
                    </div>
                </tr>
                {%endfor%}



            </div>


</div>

<script>

function openReplies() {

    element = document.getElementById("reply-visbility");
    hidden = element.getAttribute("hidden");

    if( hidden )
        element.removeAttribute("hidden");
    else
        element.setAttribute("hidden", "hidden");

}
function openTextFieldToReply() {
    element = document.getElementById("forum-reply-content");
    hidden = element.getAttribute("hidden");

    if( hidden )
        element.removeAttribute("hidden");
    else
        element.setAttribute("hidden", "hidden");

}


</script>
{% endblock %}