 {% extends 'accounts/navbar.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'detail-post.css' %}">
{% endblock %}

{% block header_content %}

{% endblock %}
{% block page_content %}
<div class="page_content">

            <div class="heading" >
                <h1 class="head"> Replies </h1>
            </div>

            <div class="bottom-forum" >
                <div class="forum-title">
                     <a href="student_profile.html"><img src="../../static/user.png" alt="user" class="reply-user-photo"></a>
                    <div style="width: 95%;">
                        <p > {{post.user.name}}: {{post.date}}</p>
                        <h2>
                            {{post.topic}}
                        </h2>
                        <p> {{post.text}}</p>
                    </div>
                    <div ><button class="reply-btn-on-heading" onclick="openTextFieldToReply()">
                             <img src="../../static/respond_icon.png" alt="open" class = "reply-icon" >
                        </button>
                    </div>
                </div>
                <div class="forum-reply-content" id="forum-reply-content">
                    <div id="reply-container">
                        <input type="text" name="Reply" id="reply-to-post">
                        <input type="submit" value="Reply" id="text-reply-btn" >
                    </div>
                </div>

                 {% for response in responses %}
                <tr >
                        <div class="single-reply-content">
                            <a href="student_profile.html">
                                <img src="../../static/user.png" alt="user" class="reply-user-photo">
                            </a>
                            <div class = "single-reply-text-content">
                                <p > {{response.user.name}}: {{response.date}}</p>
                                {{response.text}}
                            </div>

                        </div>
                </tr>
                {%endfor%}



            </div>


</div>

<script>

function openReplies() {

    element = document.getElementById("reply-visbility");
    hidden = element.getAttribute("hidden");

    if( hidden )
        element.removeAttribute("hidden");
    else
        element.setAttribute("hidden", "hidden");

}
function openTextFieldToReply() {
    element = document.getElementById("forum-reply-content");
    hidden = element.getAttribute("hidden");

    if( hidden )
        element.removeAttribute("hidden");
    else
        element.setAttribute("hidden", "hidden");

}


</script>
{% endblock %}