{% extends 'accounts/navbar.html' %}

{% block main_content %}
<div class="header">Frequently Asked Questions</div>

<div class="page_content">
    <div class="faq_buttons">
        {% if not user_type == "Student" %}
        <button type="button" onclick="location.href = '../../add-question'">Add a New FAQ</button>
        <button type="button" onclick="location.href = '#'">Adjust FAQs</button>
        {% endif %}
    </div>
    <ol class="faq">
        {% for q in questions %}
        <li style="font-weight: bold">{{q.question}}</li>
        <p>{{q.answer}}</p><br>
        {% endfor %}
    </ol>
</div>
{% endblock %}