{% extends 'accounts/navbar.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'forum.css' %}">
{% endblock %}

{% block header_content %}

 <div class="header" style="margin-bottom: 20px;">Forum
    <div class="header_buttons">
        <button type="button" onclick="location.href = '../../add-post'">Add Post</button>
    </div>

</div>

{% endblock %}
{% block page_content %}
<div class="page_content">

        <div class="bottom-forum" >
            </div>
            <div class="forum-container">
                <div>
                    <input type="text" id="filter_input" onkeyup="filterForumTable()" style="width:100%" placeholder="Search a Topic">

                    <table class="sortable" id="filtered_list" style="width: 100%; border-collapse: collapse; background-color: #fff">
                        <!-- Forum title heading part-->
                        <tr style="background-color: #fff">
                            <th class="f-title" > <h3> Forum Title </h3></th>
                            <th class="f-initiatier"><h3>  Posted by</h3></th>
                            <th class="f-initiatier"><h3>  Date/Time </h3></th>
                            <th class="f-answers"><h3>Replies</h3></th>
                             <th> </th>
                        </tr>

                        <!-- Forum  posts part-->
                        {% for post in posts %}
                        <tr>
                           <td class="forum-title" style="text-align: left"><a href="../../post-detail/{{post.pk}}"> {{post.topic}} </a></td>
                            <td class="forum-initiatier"><a href="../../post-detail/{{post.pk}}"> {{post.user.name}}</a></td>
                            <td class="forum-answers"><a href="../../post-detail/{{post.pk}}">  {{post.date}} </a></td>
                            <td class="forum-answers"><a href="../../post-detail/{{post.pk}}">{{post.number_of_responses}}</a></td>
                             <th>
                                 {% if  post.user.name == forum_user.user.name %}
                                 <button type="reset" > delete</button>
                                 {% endif %}
                             </th>
                        </tr>
                        {%endfor%}




                    </table>
                </div>
            </div>
        </div>



</div>

<script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";

    }

    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
</script>
{% endblock %}