{% extends 'accounts/navbar.html' %}
{% block main_content %}
<div class="header">Notifications</div>
<style>
.btns
{
    float: right;
}
</style>
<div class="page_content">
    <div id="notif_table">
            <table id="filtered_list" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            <a href=#>
                                <i class="fa fa-trash"></i>
                            </a>
                        </th>
                        <th>
                            <a href=#>
                                <i class="fa fa-flag"></i>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td style="width:100%"><a href=#>A Notificaiton</a></td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td style="width:100%"><a href=#>A Notificaiton</a></td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td style="width:100%"><a href=#>A Notificaiton</a></td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td style="width:100%"><a href=#>A Notificaiton</a></td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td style="width:100%"><a href=#>A Notificaiton</a></td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td style="width:100%"><a href=#>A Notificaiton</a></td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td>
                        <input type="checkbox">
                    </td>
                    <td style="width:100%"><a href=#>A Notificaiton</a></td>
                </tr>
                </tbody>
            </table>
        </div>
</div>
{% endblock %}