{% extends 'accounts/navbar.html' %}
{% load crispy_forms_tags %}

{% block main_content %}
<div class="header">Add Courses</div>
<div class="page_content">
    <div class="courses_taken">
        <h2>Current Courses Taken</h2>
        <div id= "course_div">
            <table id="taken_courses_table" style="width:100%">
                <thead>
                <tr>
                    <th style="width:65px">Count</th>
                    <th style="width:350px">Course Name</th>
                    <th style="width:200px">Course ID</th>
                    <th style="width:150px">ECTS Credits</th>
                    <th style="width:370px">Taken Instead Of</th>
                    <th style="width:370px">Remove</th>
                </tr>
                </thead>
                <tbody>
                {% for course in courses %}
                <tr>
                    <td style="width:65px" id="count"></td>
                    <td style="width:350px">{{course.course_name}}</td>
                    <td style="width:200px">{{course.course_codes}}</td>
                    <td style="width:150px">{{course.course_credit}}</td>
                    <td style="width:370px">Germany</td>
                    <td style="width:370px"><button type="button">Remove</button></td>
                </tr>
                {%endfor%}
                </tbody>
                <tfoot>
                <tr>
                    <th>ECTS Total:</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="add_course">

        <h2>Add Course</h2>
        <div class="buttons">
            <button type="button" onclick="toggleButtons(this, 3)" id="1">Add Previously Added Course</button>
            <button type="button" onclick="toggleButtons(this, 3)" id="2">Add New Course</button>
            <button type="button" onclick="toggleButtons(this, 3)" id="3">Merge Courses</button>
        </div>

        <div hidden="hidden" id="toggle-element-1">
            <input type="text" id="filter_input" onkeyup="filterTable()" style="width:100%" placeholder="Search for courses..">
            <table id="filtered_list" style="width:100%">
                <thead>
                <tr>
                    <th style="width:65px" id="count">Count</th>
                    <th style="width:350px">Course Name</th>
                    <th style="width:200px">Course ID</th>
                    <th style="width:150px">ECTS Credits</th>
                    <th style="width:370px">Can Be Taken Instead Of</th>
                    <th style="width:370px">Add</th>
                </tr>
                </thead>
                <tbody>
                {% for course in courses %}
                <tr>
                    <td style="width:65px" id="count"></td>
                    <td style="width:350px">{{course.course_name}}</td>
                    <td style="width:200px">{{course.course_codes}}</td>
                    <td style="width:150px">{{course.course_credit}}</td>
                    <td style="width:370px">{{course.takenInsteadOf}}</td>
                    <td style="width:370px"><button href="/add-to-courses/{{course.pk}}" type="button">Add</button></td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>

        <form hidden="hidden" id="toggle-element-2" action="/action_page.php">
            <label for="cname">Course Name:</label><br>
            <input type="text" id="cname" name="cname"><br>

            <label for="cid">Course ID:</label><br>
            <input type="text" id="cid" name="cid"><br>

            <label for="ects">ECTS Credits:</label><br>
            <input type="text" id="ects" name="ects"><br>

            <label for="instead">Taken Instead Of:</label><br>
            <input type="text" id="instead" name="instead"><br>

            <label for="link">Course Syllabus Link:</label><br>
            <input type="url" id="link" name="link"><br><br>

            <input style="width:20%" type="submit" value="Submit">
        </form>

        <table hidden="hidden" id="toggle-element-3" style="width:100%">
                <thead>
                <tr>
                    <th style="width:65px">Count</th>
                    <th style="width:350px">Course Name</th>
                    <th style="width:200px">Course ID</th>
                    <th style="width:150px">ECTS Credits</th>
                    <th style="width:370px">Can Be Taken Instead Of</th>
                    <th style="width:370px">Merge Selection</th>
                </tr>
                </thead>
                <tbody>
                {% for course in user.course %}
                <tr>
                    <td style="width:65px" id="count">1</td>
                    <td style="width:350px">{{course.course_name}}</td>
                    <td style="width:200px">{{course.course_codes}}</td>
                    <td style="width:150px">{{course.course_credit}}</td>
                    <td style="width:370px">{{course.takenInsteadOf}}</td>
                    <td style="width:370px"><button type="button">Select</button></td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
    </div>
</div>
{% endblock %}