{% extends 'accounts/navbar.html' %}
{% load crispy_forms_tags %}

{% block header_content %}
<div class="header">Add Courses</div>
{% endblock %}

{% block page_content %}
<div class="page_content">
    <div class="courses_taken">
        <h2>Current Courses Taken</h2>
        <div id= "course_div">
            <table class="sortable" id="taken_courses_table" style="table-layout:fixed; width: 100%">
                <thead>
                <tr>
                    <th style="width:6%">Count</th>
                    <th style="width:10%">Course Code</th>
                    <th style="width:20%">Course Name</th>
                    <th style="width:7%">Credits</th>
                    <th style="width:20%">Course Code and Name for a Required Course,
                    Elective Group Name for an Elective Requirement
                    </th>
                    <th style="width:7%">Credits</th>
                    <th style="width:20%">Elective Requirement Exemptions only: Course code(s) of directly equivalent course(s), if any **</th>
                    <th style="width:10%">Is Approved</th>
                    <th style="width:10%">Operation</th>
                </tr>
                </thead>
                <tbody>
                {% for course in user_unmerged_courses %}
                <tr>
                    <td id="count"></td>
                    <td>{{course.code}}</td>
                    <td>{{course.course_name}}</td>
                    <td>{{course.course_credit}}</td>
                    <td>{{course.bilkent_equivalent.course_code}}: {{course.bilkent_equivalent.course_name}}</td>
                    <td>{{course.bilkent_equivalent.course_credit}}</td>
                    <td>NULL</td>
                    {% if course.approved %}
                    <td>Approved</td>
                    {% elif course.is_rejected %}
                    <td>Rejected</td>
                    {% else %}
                    <td>Waiting For Approval</td>
                    {% endif %}
                    <td>
                        <a class="button" href="/remove-from-courses/{{course.pk}}">Remove</a>
                        <input type="checkbox" class="merge-course-selection" id="{{course.pk}}">
                    </td>
                </tr>
                {%endfor%}
                {% for courseKey, courseList in user_merged_course_dict.items %}
                {% for course in courseList %}
                <tr>
                    <td id="count"></td>
                    <td>{{course.code}}</td>
                    <td>{{course.course_name}}</td>
                    <td>{{course.course_credit}}</td>

                    {% if courseList.0 is course %}
                    <td rowspan="2">{{course.bilkent_equivalent.course_code}}: {{course.bilkent_equivalent.course_name}}</td>
                    <td rowspan="2">{{course.bilkent_equivalent.course_credit}}</td>
                    <td rowspan="2">NULL</td>
                    {% if course.approved %}
                    <td rowspan="2">Approved</td>
                    {% elif course.is_rejected %}
                    <td rowspan="2">Rejected</td>
                    {% else %}
                    <td rowspan="2">Waiting For Approval</td>
                    {% endif %}
                    <td rowspan="2">
                        <a class="button" href="/remove-from-courses/{{course.pk}}">Remove</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="8">ECTS Total: sum</td>
                    <td><a class="button" onclick="mergeCourses()" href="#">Merge</a></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="add_course">

        <h2>Add Course</h2>
        <div class="buttons">

            <!--<button type="button" onclick="toggleButtons(this, 2)" id="1">Add Previously Added Course</button>-->
            <button type="button" onclick="location.href = '../../add-unapproved-course/'">Add New Course</button>
            <button type="button" onclick="toggleButtons(this, 2)" id="2">Merge Courses</button>
            <button type="button" onclick="location.href = '../../create-document/'" id="3">Create Document</button>
        </div>


        <td>
            <input type="text" id="filter_input" onkeyup="filterTable()" style="width:100%" placeholder="Search for courses..">
            <div style="height:300px;overflow:auto;">

            <table class="sortable" id="filtered_list" style="width:100%;">
                <thead>
                <tr>
                    <th style="width:6%">Count</th>
                    <th style="width:10%">Course Code</th>
                    <th style="width:20%">Course Name</th>
                    <th style="width:7%">Credits</th>
                    <th style="width:20%">Course Code and Name for a Required Course,
                    Elective Group Name for an Elective Requirement
                    </th>
                    <th style="width:7%">Credits</th>
                    <th style="width:20%">Elective Requirement Exemptions only: Course code(s) of directly equivalent course(s), if any **</th>
                    <th style="width:10%">Operation</th>
                </tr>
                </thead>
                <tbody>
                {% for course in approved_unmerged_courses %}
                <tr>
                    <td id="count"></td>
                    <td>{{course.code}}</td>
                    <td>{{course.course_name}}</td>
                    <td>{{course.course_credit}}</td>
                    <td>{{course.bilkent_equivalent.course_code}}: {{course.bilkent_equivalent.course_name}}</td>
                    <td>{{course.bilkent_equivalent.course_credit}}</td>
                    <td>NULL</td>
                    <td><a class="button" href="/add-to-courses/{{course.pk}}">Add</a></td>
                </tr>
                {%endfor%}
                {% for courseKey, courseList in approved_merged_course_dict.items %}
                {% for course in courseList %}
                <tr>
                    <td id="count"></td>
                    <td>{{course.code}}</td>
                    <td>{{course.course_name}}</td>
                    <td>{{course.course_credit}}</td>

                    {% if courseList.0 is course %}
                    <td>{{course.bilkent_equivalent.course_code}}: {{course.bilkent_equivalent.course_name}}</td>
                    <td rowspan="2">{{course.bilkent_equivalent.course_credit}}</td>
                    <td rowspan="2">NULL</td>
                    <td rowspan="2"><a class="button" href="/add-to-courses/{{course.pk}}">Add</a></td>
                    {% endif %}

                </tr>
                {% endfor %}
                {% endfor %}
                </tbody>
            </table>

        </div>
            </td>
    </div>
</div>
{% endblock %}

