{% extends 'accounts/navbar.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'home_style.css' %}">
{% endblock %}


{% block main_content %}
<div class = "mainBox">

    <div class = "status">
        {% if user_type == "Student" %}
        <h1 class = "statusLabel"> Status:</h1>
        <div class = "statusBox">
            <p> {{user.status}} </p>
        </div>
        {%endif%}
        
        <div>
            <button>Delete</button>
            <button>Flag</button>
        </div>
        
    </div>

    <section class = "toDoandDone">

        <h1 class = "toDoLabel"> To Do</h1>
        <h1 class = "doneLabel"> Done</h1>

        <section class = "toDo">
            <div class = "toDoList">
                <input type="text" id="filter_input" style="width:100%" placeholder="Search for To Do">
                <label>Add a todo to your db to display</label><br>
                {% for toDo in todo %}

                <input type = "checkbox">
                <label> {{toDo.header}}</label>
                <label><a href='/todo-state/{{toDo.pk}}/1/'><i class="fas fa-times"></i>Mark as done</a></label><br>
                <label> Explanation: {{toDo.body}}</label><br>
                <label> Due Date: {{toDo.due_date}}</label><br>
                <br>

                {%endfor%}
            </div>
        </section>

        <section class = "done">
            <div class = "doneList">
                <input type="text" id="filter_input" style="width:100%" placeholder="Search for Done">
                {% for toDo in todo %}

                <input type = "checkbox">
                <label> {{toDo.header}}</label><br>
                <label> Explanation: {{toDo.body}}</label><br>
                <label> Due Date: {{toDo.due_date}}</label><br>
                <br>

                {% endfor %}
            </div>
        </section>

        <button class = "addToDo" onclick = "openForm()">Add To Do</button>

        <div class = "form-popup" id = "myForm">
        <form action = "/action_page.php" class = "form-container">

            <input type="text" placeholder = "Enter To Do" name="email" required>

            <button type = "submit" class = "btn">Add</button>
            <button type = "button" class="btn cancel" onclick = "closeForm()">Close</button>
        </form>
        </div>

        <script>
        function openForm() 
        {
            document.getElementById( "myForm" ).style.display = "block";
        }

        function closeForm() 
        {
            document.getElementById( "myForm" ).style.display = "none";
        }
        </script>

    </section> 
</div>
{% endblock %}