{% extends 'accounts/navbar.html' %}
{% block main_content %}
<div class="header">Waiting Approvals</div>
<style>
.btns
{
    float: right;
}
</style>
<div class="page_content">
    <div id="notif_table">
            <table id="filtered_list" style="width:100%">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Subject</th>
                        <th>Body</th>
                    </tr>
                </thead>
                <tbody>
                {% for course in unapproved_courses %}
                <tr>
                    <td><a href=#>User Name</a></td>
                    <td style="width:100%"><a href=#>{{course.course_name}} waiting for approval</a></td>
                    <td style="width:100%">Body</td>
                </tr>
                {%endfor%}
                <tr>
                    <td><a href=#>User Name</a></td>
                    <td><a href=#>course is waiting for approval</a></td>
                    <td>Body</td>
                </tr>
                <tr>
                    <td><a href=#>User Name</a></td>
                    <td><a href=#>course is waiting for approval</a></td>
                    <td>Body</td>
                </tr>
                </tbody>
            </table>
        </div>
</div>
{% endblock %}