{% extends 'accounts/navbar.html' %}

{% block header_content %}
<div class="header">Waiting Approvals</div>
{% endblock %}


{% block page_content %}
<style>
</style>

<div class="page_content">
    <div id="notif_table">
            <table id="filtered_list" style="width:100%">
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>University</th>
                        <th>Subject</th>
                        <th>Details</th>
                        <th>Approve</th>
                        <th>Reject</th>
                    </tr>
                </thead>
                <tbody>
                {% if unapproved_merged_courses or  unapproved_unmerged_courses or unapproved_final_list_students%}
                {% for user_course in unapproved_merged_courses %}
                <tr>
                    <td><a>{{user_course.user.user.name}}</a></td>
                    <td><a>{{user_course.user.university}}</a></td>
                    <td><a>Merged course waiting for approval</a></td>
                    <td><a href="../../profile/{{user_course.user.pk}}"><i class="fas fa-external-link-alt"></i></a></td>
                    <td><a href="/approve-course/{{studenk.pk}}/{{user_course.course.pk}}"><img src="../../static/check-icon.png" alt="Approve"  width="15" height="15"></a></td>
                    <td><a href="/reject-course/{{studenk.pk}}/{{user_course.course.pk}}"><img src="../../static/cross-icon.png" alt="Approve"  width="13" height="13"></a></td>
                </tr>
                {%endfor%}
                {% for user_course in unapproved_unmerged_courses %}
                <tr>
                    <td><a>{{user_course.user.user.name}}</a></td>
                    <td><a>{{user_course.user.university}}</a></td>
                    <td><a>{{user_course.course.course_name}} waiting for approval</a></td>
                    <td><a href="../../profile/{{user_course.user.pk}}"><i class="fas fa-external-link-alt"></i></a></td>
                    <td><a href="/approve-course/{{studenk.pk}}/{{user_course.course.pk}}"><img src="../../static/check-icon.png" alt="Approve"  width="15" height="15"></a></td>
                    <td><a href="/reject-course/{{studenk.pk}}/{{user_course.course.pk}}"><img src="../../static/cross-icon.png" alt="Approve"  width="13" height="13"></a></td>
                </tr>
                {%endfor%}
                {% for student in unapproved_final_list_students %}
                <tr>
                    <td><a>{{student.user.name}}</a></td>
                    <td><a>{{student.university}}</a></td>
                    <td><a>Final course list waiting for approval</a></td>
                    <td><a href="../../profile/{{student.pk}}"><i class="fas fa-external-link-alt"></i></a></td>
                    <td><a href="/approve-course-list/{{studenk.pk}}/{{student.pk}}"><img src="../../static/check-icon.png" alt="Approve"  width="15" height="15"></a></td>
                    <td><a href="/approve-course-list/{{studenk.pk}}/{{student.pk}}"><img src="../../static/cross-icon.png" alt="Approve"  width="13" height="13"></a></td>
                </tr>
                {%endfor%}
                {% else %}
                <tr>
                    <td colspan="6">No waiting courses yet</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
</div>
{% endblock %}