{% extends 'accounts/navbar.html' %}

{% block header_content %}
<div class="header">Waiting Approvals</div>
{% endblock %}


{% block page_content %}
<style>
</style>

<div class="page_content">
    <div id="notif_table">
            <table id="filtered_list" style="width:100%">
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>University</th>
                        <th>Subject</th>
                        <th>Details</th>
                        <th>Approve</th>
                        <th>Reject</th>
                    </tr>
                </thead>
                <tbody>
                {% for user_course in unapproved_courses %}
                <tr>
                    <td><a href="../../profile/{{user_course.user.user.pk}}">{{user_course.user.user.name}} <i class="fas fa-external-link-alt"></i></a></td>
                    <td><a>{{user_course.user.university}}</a></td>
                    <td><a>{{user_course.course.course_name}} waiting for approval</a></td>
                </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
</div>
{% endblock %}