{% extends 'accounts/navbar.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'home_style.css' %}">
{% endblock %}

{% block header_content %}
{% if user_type == "Student" %}
<div class="header">Status: {{user.status}}</div>
{% else %}
<div class="header">Home</div>
{%endif%}

{% endblock %}


{% block page_content %}
<div class = "page_content">



    <section class = "toDoandDone">

        <h1 class = "toDoLabel"> To Do</h1>
        <h1 class = "doneLabel"> Done</h1>

        <section class = "toDo">
            <div>
                <input type="text" id="filter_input" onkeyup="filterToDo('filter_input', 'filtered_list')" style="width:100%" placeholder="Search for To Do">
                <table id="filtered_list" style="width:100%">
                    <tbody>
                    {% for flaggedToDo in flagged_todo %}
                    <tr bgcolor= "#FFBAAB">
                        <td style="width:100%">
                            <a href="../../courses">{{flaggedToDo.header}}</a><br>
                            Explanation: {{flaggedToDo.body}}<br>
                            Due Date: {{flaggedToDo.due_date}}<br>
                        </td>
                        <td>
                            <a href='/flag-todo/{{flaggedToDo.pk}}/0/'><img src="../../static/filled-flag-icon.png" alt="Unflag"  width="15" height="15"></a>
                        </td>
                        <td>
                            <a href='/delete-todo/{{flaggedToDo.pk}}/'><img src="../../static/trash-icon.png" alt="Delete"  width="15" height="15"></a>
                        </td>
                        <td>
                            <a href='/todo-state/{{flaggedToDo.pk}}/1/'><img src="../../static/check-icon.png" alt="Mark as done"  width="15" height="15"></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% for toDo in unflagged_todo %}
                    <tr>
                        <td style="width:100%">
                            <a href=#>{{toDo.header}}</a><br>
                            Explanation: {{toDo.body}}<br>
                            Due Date: {{toDo.due_date}}<br>
                        </td>
                        <td>
                            <a href='/flag-todo/{{toDo.pk}}/1/'><img src="../../static/flag-icon.png" alt="Flag"  width="15" height="15"></a>
                        </td>
                        <td>
                            <a href='/delete-todo/{{toDo.pk}}/'><img src="../../static/trash-icon.png" alt="Delete"  width="15" height="15"></a>
                        </td>
                        <td>
                            <a href='/todo-state/{{toDo.pk}}/1/'><img src="../../static/check-icon.png" alt="Mark as done"  width="15" height="15"></a>
                        </td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
        </section>

        <section class = "done">
            <div>
                <input type="text" id="filter_input2" onkeyup="filterToDo('filter_input2', 'filtered_list2')" style="width:100%" placeholder="Search for Done">
                <table id="filtered_list2" style="width:100%">
                    <tbody>
                        {% for done in done %}
                        <tr>
                            <td style="width:100%">
                                <a href=#>{{done.header}}</a><br>
                                Explanation: {{done.body}}<br>
                                Due Date: {{done.due_date}}<br>
                            </td>
                            <td>
                                <a href='/delete-todo/{{done.pk}}/'><img src="../../static/trash-icon.png" alt="Delete"  width="15" height="15"></a>
                            </td>
                            <td>
                                <a href='/todo-state/{{done.pk}}/0/'><img src="../../static/undo-icon.png" alt="Flag"  width="15" height="15"></a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </section>

        <button class = "addToDo" onclick="location.href = '../../add-todo'">Add To Do</button>

    </section>
</div>
{% endblock %}