{% extends 'accounts/navbar.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'home_style.css' %}">
{% endblock %}


{% block page_content %}
<div class = "mainBox">

    <div class = "status">
        {% if user_type == "Student" %}
        <h1 class = "statusLabel"> Status: </h1>
        <h1 class = "statusBox"> {{user.status}} </h1>
        {%endif%}
    </div>

    <section class = "toDoandDone">

        <h1 class = "toDoLabel"> To Do</h1>
        <h1 class = "doneLabel"> Done</h1>

        <section class = "toDo">
            <div id="notif_table">
                <input type="text" id="filter_input" onkeyup="filterToDo()" style="width:100%" placeholder="Search for To Do">
                <table id="filtered_list" style="width:100%">
                    <tbody>
                    {% for flaggedToDo in flagged_todo %}
                    <tr bgcolor= "#FFBAAB">
                        <td style="width:100%">
                            <a href="../../waiting-courses">{{flaggedToDo.header}}</a><br>
                            Explanation: {{flaggedToDo.body}}<br>
                            Due Date: {{flaggedToDo.due_date}}<br>
                        </td>
                        <td>
                            <a href='/flag-todo/{{flaggedToDo.pk}}/0/'><i class="fa fa-flag fa-xs"></i></a>
                        </td>
                        <td>
                            <a href='/delete-todo/{{flaggedToDo.pk}}/'><i class="fa fa-trash fa-xs"></i></a>
                        </td>
                        <td>
                            <a href='/todo-state/{{flaggedToDo.pk}}/1/'><i class="fa fa-check fa-xs"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% for toDo in unflagged_todo %}
                    <tr>
                        <td style="width:100%">
                            <a href=#>{{toDo.header}}</a><br>
                            Explanation: {{toDo.body}}<br>
                            Due Date: {{toDo.due_date}}<br>
                        </td>
                        <td>
                            <a href='/flag-todo/{{toDo.pk}}/1/'><i class="far fa-flag fa-xs"></i></a>
                        </td>
                        <td>
                            <a href='/delete-todo/{{toDo.pk}}/'><i class="fa fa-trash fa-xs"></i></a>
                        </td>
                        <td>
                            <a href='/todo-state/{{toDo.pk}}/1/'><i class="	fa fa-check fa-xs"></i></a>
                        </td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
        </section>

        <section class = "done">
            <div id="done_table">
                <input type="text" id="filter_input" onkeyup="filterToDo()" style="width:100%" placeholder="Search for Done">
                <table id="filtered_list" style="width:100%">
                    <tbody>
                        {% for done in done %}
                        <tr>
                            <td style="width:100%">
                                <a href=#>{{done.header}}</a><br>
                                Explanation: {{done.body}}<br>
                                Due Date: {{done.due_date}}<br>
                            </td>
                            <td>
                                <a href='/delete-todo/{{done.pk}}/'><i class="fa fa-trash fa-xs"></i></a>
                            </td>
                            <td>
                                <a href='/todo-state/{{done.pk}}/0/'><i class="	fa fa-times fa-xs"></i></a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
        </section>

        <button class = "addToDo" onclick="location.href = '../../add-todo'">Add To Do</button>

        <div class = "form-popup" id = "myForm">
            <form class = "form-container">

                {% csrf_token %}
                {{todo_form|crispy}}

                <input type="text" placeholder = "Enter To Do" name="email" required>

                <button type = "submit" class = "btn">Add</button>
                <button type = "button" class="btn cancel" onclick = "closeForm()">Close</button>
            </form>
        </div>

        <script>
        function openForm()
        {
            document.getElementById( "myForm" ).style.display = "block";
        }

        function closeForm() 
        {
            document.getElementById( "myForm" ).style.display = "none";
        }
        </script>

    </section> 
</div>
{% endblock %}