{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'styles.css' %}">
<link rel="stylesheet" href="{% static 'login_style.css' %}">
{% endblock %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>Bilkent University Erasmus Application System</title>
</head>
<body>
    <div class="heading">
        <img src="../../static/bilkent_amblem.png" alt="Bilkent Amblem" width="90" height="90">
        <h1 class="label"> Bilkent University Erasmus Application System</h1>
    </div>

    <form method="post" novalidate>
        <h3>Login</h3>

        {% csrf_token %}
        {{form.as_p}}

        <button>Log In</button>
    </form>
</body>
</html>