{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Bilkent University Erasmus Application System </title>

	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="../../static/manage.js"></script>
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
</head>

<body>
<div class="navbar_wrapper">
    <div class="sidebar">
        {% block sidebar %}
        <ul>
            <li id="1-holder"><a id="1" href="../../accounts/profile/" onclick="clicked(this)"><i class="fas fa-home"></i>Home</a></li>
            <li id="2-holder"><a id="2" href="../../notification" onclick="clicked(this)"><i class="fas fa-bell"></i>Notifications</a></li>

            {% if not user_type == "Coordinator" and not user_type == "BoardMember" %}
            <li id="3-holder"><a id="3" href="../../courses" onclick="clicked(this)"><i class="fas fa-book"></i>Add Courses</a></li>
            {%endif%}
            {% if not user_type == "Student" %}
            <li id="4-holder"><a id="4" href="../../courses" onclick="clicked(this)"><i class="fas fa-address-card"></i>Student List</a></li>
            <li id="5-holder"><a id="5" href="#" onclick="clicked(this)"><i class="fas fa-address-card"></i>Waiting Approvals</a></li>
            {%endif%}

            <li id="6-holder"><a id="6" href="../../documents" onclick="clicked(this)"><i class="fas fa-project-diagram"></i>Files</a></li>
            <li id="7-holder"><a id="7" href="#" onclick="clicked(this)"><i class="fas fa-address-book"></i>Messages</a></li>
            <li id="8-holder"><a id="8" href="#" onclick="clicked(this)"><i class="fas fa-map-pin"></i>Forum</a></li>
			<li id="9-holder"><a id="9" href="../../faq" onclick="clicked(this)"><i class="fas fa-question-circle"></i>FAQ</a></li>
        </ul>
        {% endblock %}
    </div>

    <div class="upperbar">
        <div class="upperbar_content">
            <img src="../../static/bilkent_amblem.png" width="80" height="80" alt="Bilkent Amblem">

            <h2>Bilkent University Erasmus Application System </h2>

            <div class="profile">
                <div class="profile_text">
                    <p>{{request.user.username}} </p>
                    <p>{{email}}</p>
                </div>
                <li><a href="#"><i class="fas fa-user"></i>Profile</a></li>
                <ul class="profile_settings">
                    <li id="11-holder"><a id="11" href="#"><i class="fas fa-pen"></i>Change Password</a></li>
                    <li id="12-holder"><a id="12" href="#"><i class="fas fa-inbox"></i>Change Mail</a></li>
                    <li id="13-holder"><a id="13" href="#"><i class="fas fa-info-circle"></i>Preferences</a></li>
                    <li id="14-holder"><a id="14" href="{% url 'logout' %}"><i class="fas fa-times"></i>Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="main_content">
        {% block main_content %} {% endblock %}
    </div>
</div>

</body>
</html>
{% endblock content %}