{% extends 'accounts/navbar.html' %}
{% load crispy_forms_tags %}

{% block header_content %}
<div class="header">Change Password</div>
{% endblock %}

{% block page_content %}
<div class="page_content">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'accounts/form.html' %}
        <button type="submit" class="btn btn-success">Change password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
