{% extends 'accounts/navbar.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}

{% block header_content %}
<div class="header">Your Page</div>
{% endblock %}

{% block page_content %}
<div class="page_content">

        <div class="user-info">
            <table class="user-info-table">
                <tbody style="height: auto" class="profile_view">
                <tr>
                    <td>Name</td>
                    <td>{{student.user.name}}</td>
                </tr>
                <tr>
                    <td>E-mail: </td>
                    <td>{{student.user.email}}</td>
                </tr>
                <tr>
                    <td>Phone: </td>
                    <td>{{student.user.phone}}</td>
                </tr>
                <tr>
                    <td>Id: </td>
                    <td>{{student.user.bilkent_id}}</td>
                </tr>
                <tr>
                    <td>Department </td>
                    <td>{{student.user.department}}</td>
                </tr>
                <tr>
                    <td>Coordinator</td>
                    <td>{{student.coordinator.user.name}}</td>
                </tr>
                <tr>
                    <td> Coordinator Email</td>
                    <td>{{student.coordinator.user.email}}</td>
                </tr>
                <tr>
                    <td>Status </td>
                    <td>{{student.status}}</td>
                </tr>
                </tbody>
            </table>
        </div>
 </div>
{% endblock %}