{% extends 'accounts/navbar.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'student_profile_from_coordinator.css' %}">
{% endblock %}

{% block header_content %}
<div class="header" style="margin-bottom: 20px;"><i class="fa fa-user"></i>{{student.user.name}}
</div>
{% endblock %}

{% block page_content %}
<div class="page_content">
    <div class="student-info">
        {% if user_type == "Student" %}

        <div id="info-table-container">
            <h2>Student's Info</h2>
            <table class= "user-info-table-" style="width: 100%">
                <tr>
                    <td>Id</td>
                    <td>{{student.user.bilkent_id}}</td>
                </tr>

                <tr>
                    <td style="width: 50%">E-mail:</td>
                    {% if student.email_visibility %}
                    <td>{{student.user.email}}</td>
                    {% else %}
                    <td class="far fa-eye-slash" style="width: 100%"></td>
                    {% endif %}
                </tr>

                <tr>
                    <td style="width: 50%">Phone:</td>
                    {% if student.phone_visibility %}
                    <td>{{student.user.phone}}</td>
                    {% else %}
                    <td class="far fa-eye-slash" style="width: 100%"></td>
                    {% endif %}
                </tr>

                <tr>
                    <td style="width: 50%">University/Mobility Period</td>
                    {% if student.mobility_visiblity %}
                    <td>{{student.university}}/{{student.academic_year}}</td>
                    {% else %}
                    <td class="far fa-eye-slash" style="width: 100%"></td>
                    {% endif %}
                </tr>

                <tr>
                    <td style="width: 50%">Status</td>
                    {% if student.status_visibility%}
                    <td>{{student.status}}</td>
                    {% else %}
                    <td class="far fa-eye-slash" style="width: 100%"></td>
                    {% endif %}
                </tr>
            </table>
        </div>
        {%endif%}

        {% if not user_type == "Student" %}
        <div>
            <h2>Student's Info</h2>
            <table class="user-info-table" style="width: 100%">
                <tr>
                    <td>E-mail:</td>
                    <td>{{student.user.email}}</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>{{student.user.phone}}</td>
                </tr>
                <tr>
                    <td>University/Mobility Period</td>
                    <td>{{student.university}}/{{student.academic_year}}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>{{student.status}}</td>
                </tr>
                <tr>
                    <td>Id</td>
                    <td>{{student.user.bilkent_id}}</td>
                </tr>
            </table>
        </div>
        <div >
            <div style="border-bottom: 1px solid #e0e4e8; padding-bottom: 10px;">
                <h2>Student's Courses</h2>
                <table class="course-table" style="width: 100%">
                    <thead>
                    <tr>
                        <th style="width:4%" class="sorttable_nosort"></th>
                        <th style="width:10%">{{student.university}} Course Code</th>
                        <th style="width:20%">{{student.university}} Course Name</th>
                        <th style="width:7%">Credits</th>
                        <th style="width:20%">Bilkent University Equivalent Course Type</th>
                        <th style="width:7%">Credits</th>
                        <th style="width:20%">Bilkent University Equivalent Course Code and Name</th>
                        <th style="width:10%">Status</th>
                        <th style="width:10%">Operations</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for course in student_unmerged_courses %}
                        <tr>
                        <td id="count"></td>
                        <td>{{course.code}}</td>
                        <td>{{course.course_name}}</td>
                        <td>{{course.course_credit}}</td>

                        {% if course.bilkent_equivalent.course_type == MUST_COURSE %}
                            <td>{{course.bilkent_equivalent.course_code}}: {{course.bilkent_equivalent.course_name}}</td>
                            <td>{{course.bilkent_equivalent.course_credit}}</td>
                        {% else %}
                            <td>{{course.bilkent_equivalent.elective_group_name}}</td>
                            <td>{{course.bilkent_equivalent.course_credit}}</td>
                        {% endif %}

                        {% if course.bilkent_equivalent.course_type == ELECTIVE_COURSE %}
                            <td>{{course.bilkent_equivalent.course_code}}: {{course.bilkent_equivalent.course_name}}</td>
                        {% else %}
                            <td></td>
                        {% endif %}

                        {% if course.approved %}
                            <td>Approved</td>
                        {% elif course.is_rejected %}
                            <td>Rejected</td>
                        {% else %}
                        <td>Waiting For Approval</td>
                        {% endif %}
                            <td style="padding: 0">
                                <div style="display: block; align: center; padding: 0">
                                    {% if not course.approved and not course.is_rejected %}
                                        <div style="display: flex; padding: 0">
                                            <a class="button" href="/approve-course/{{course.pk}}">Approve</a>
                                            <a class="button" href="/reject-course/{{course.pk}}">Reject</a>
                                        </div>
                                    {% endif %}
                                    {% if course.syllabus %}
                                    <div style="display: flex;";>
                                        <a class="button" href="//{{course.syllabus}}">View Syllabus</a>
                                    </div>
                                    {% endif %}

                            </div></td>
                        </tr>
                        {%endfor%}

                        {% for courseKey, courseList in student_merged_course_dict.items %}
                        {% for course in courseList %}
                        <tr>
                    <td id="count"></td>
                    <td>{{course.code}}</td>
                    <td>{{course.course_name}}</td>
                    <td>{{course.course_credit}}</td>

                    {% if courseList.0 is course %}

                    {% if courseKey.bilkent_equivalent.course_type == MUST_COURSE %}
                    <td rowspan="2">{{courseKey.bilkent_equivalent.course_code}}: {{courseKey.bilkent_equivalent.course_name}}</td>
                    <td rowspan="2">{{courseKey.bilkent_equivalent.course_credit}}</td>
                    {% else %}
                    <td rowspan="2">{{courseKey.bilkent_equivalent.elective_group_name}}</td>
                    <td rowspan="2">{{courseKey.bilkent_equivalent.course_credit}}</td>
                    {% endif %}

                    {% if courseKey.bilkent_equivalent.course_type == ELECTIVE_COURSE %}
                    <td rowspan="2">{{courseKey.bilkent_equivalent.course_code}}: {{courseKey.bilkent_equivalent.course_name}}</td>
                    {% else %}
                    <td rowspan="2"></td>
                    {% endif %}

                    {% if courseKey.approved %}
                    <td rowspan="2">Approved</td>
                    {% elif courseKey.is_rejected %}
                    <td rowspan="2">Rejected</td>
                    {% else %}
                    <td rowspan="2">
                        Waiting For Approval
                        <div style="display: flex; gap: 10px;">
                            <a class="button" href="/approve-course/{{course.pk}}">Approve</a>
                           <a class="button" href="/reject-course/{{course.pk}}">Reject</a>
                        </div></td>
                    {% endif %}
                    {% endif %}
                </tr>
                        {%endfor%}
                        {%endfor%}
                    </tbody>
                </table>
                {% if student.final_list_submitted %}
                <div style="padding: 0; display: flex; justify-content: right;">
                    <a style="margin-right: 20px; margin-left: auto;" class="final-list" href="#">Approve Final List</a>
                    <a style="background-color: #db1430;" class="final-list" href="#">Reject Final List</a>
                </div>
                {% endif %}
            </div>

            <div>

                <div style="display: flex; display: 0; ">
                    <h2 style="width: 100%; display: inline-block; align-self: flex-end;">Student's Files</h2>
                    <div style="padding: 0; display: flex; justify-content: right; width: 100%;">
                    <a class="button" href="../../upload-documents/1/{{student.user.pk}}">Upload Signed Documents</a>
                </div>

                </div>
                <table class="file-table" style="width: 100%">
                    <thead>
                    <tr>
                        <th style="width:65px" id="count"></th>
                        <th style="width:175px">Type</th>
                        <th style="width:250px">Name</th>
                        <th style="width:225px">Date</th>
                        <th style="width:350px" colspan="2">
                            Operations
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for document in documents %}
                    <tr>
                        <td style="width:65px" id="count"></td>
                        <td style="width:150px">{{document.document_type}}</td>
                        <td style="width:175px">{{document.document_name}}</td>
                        <td style="width:200px">{{document.date}}</td>
                        <td style="width:350px;">
                            <a class="button" href="{{document.document.url}}" download="{{document.document.url}}">Download</a>
                            <a class="button" href="/delete-document/{{document.pk}}">Delete</a>
                        </td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>

        </div>
        {%endif%}
    </div>
</div>

{% endblock %}