{% extends 'accounts/navbar.html' %}
{% block main_content %}
<div class="header">Notifications</div>
<div class="page_content">
    <div id="notif_table">
            <table id="filtered_list" style="width:100%">
                <tr>
                    <td style="width:100%">A Notificaiton</td>
                    <td>
                        <button href="#" type="button">Link</button>
                    </td>
                    <td>flagged</td>
                </tr>
                <tr>
                    <td style="width:100%">A Notificaiton</td>
                    <td>
                        <button href="#" type="button">Link</button>
                    </td>
                    <td>flagged</td>
                </tr>
                <tr>
                    <td style="width:100%">A Notificaiton</td>
                    <td>
                        <button href="#" type="button">Link</button>
                    </td>
                </tr>
                <tr>
                    <td style="width:100%">A Notificaiton</td>
                    <td>
                        <button href="#" type="button">Link</button>
                    </td>
                    <td>flagged</td>
                </tr>
                <tr>
                    <td style="width:100%">A Notificaiton</td>
                    <td>
                        <button href="#" type="button">Link</button>
                    </td>
                </tr>
 
            </table>
        </div>
</div>
{% endblock %}