.student-info{
  width: 98%;
  display: flex;
}
#info-table-container{
    width: 70%;
}
#user-name{
  width: 100%;
  padding-top: 50px;
  text-align: center;
  font-size:xx-large;
}
#mail-icon{
  background-color: inherit;
  padding-right: 0px;
  margin-right: 0px;
  margin: 0px 0px 0px auto;
}
#mail-button{
  background-color: inherit;
  border: none;
}
#mail-icon:hover{
  background-color: #db1430;
}

#user-info-table{
  width: 50%
}
.user-info-table-{
  align-content: center;
  text-align: center;
  padding-left: 30%;
}
