@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
  background-color: #f3f5f9;
  background-size: cover;
  background: url(../../static/bilkent_amblem_background.png) no-repeat;
  background-position: 55% 60%;
  background-size: 300px 300px;
  background-attachment: fixed;
}

.navbar_wrapper{
  display: flex;
  position: relative;
}

.navbar_wrapper .upperbar{
  z-index: 999;
  background: #201f2b;
  width: 100%;
  height: 110px;
  padding: 15px 0px;
  position: absolute;
  position: fixed;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.navbar_wrapper .upperbar .upperbar_content{
  display: flex;
  margin-left: 60px;
}

.navbar_wrapper .upperbar .upperbar_content .profile{
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  color: #9899ac;
  margin-right: 40px;
  margin-left: auto;
  margin-bottom: 30px;
}

.navbar_wrapper .upperbar .upperbar_content .profile .profile_text{
  text-align: right;
}

.navbar_wrapper .upperbar .upperbar_content .profile .profile_settings{
  text-align: center;
  position: absolute;
  width: 300px;
  height: 200px;
  top: 100%;
  right: 0;
  display: none;
  background-color: #282733;
  border: 1px solid rgba(0,0,0,0.05);
}

.navbar_wrapper .upperbar .upperbar_content .profile li a{
  color: #9899ac;
  display: block;
  padding: 15px;
}

.navbar_wrapper .upperbar .upperbar_content .profile:hover .profile_settings {
    display: block;
}

.navbar_wrapper .upperbar .upperbar_content h2{
  z-index: 999;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding: 30px 60px;
}

.navbar_wrapper .upperbar .upperbar_content .profile ul li{
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}

.navbar_wrapper .upperbar .upperbar_content .profile ul li:hover *{
  background-color: #db1430;
  color: #fff;
}

.navbar_wrapper .upperbar .upperbar_content .profile li a .fas{
  width: 25px;
}

.navbar_wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #282733;
  padding: 30px 0px;
  position: fixed;
}

.navbar_wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 30px;
  padding: 15px;
}

.navbar_wrapper .sidebar ul {
  margin-top: 80px;
}

.navbar_wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}

.navbar_wrapper .sidebar ul li a{
  color: #9899ac;
  display: block;
}

.navbar_wrapper .sidebar ul li a .fas{
  width: 25px;
}

.navbar_wrapper .sidebar ul li:hover{
  background-color: #db1430;
  color: #fff;
}

.navbar_wrapper .sidebar ul li:hover a{
  color: #fff;
}

input {
  /*background-image: url('/css/searchicon.png');*/
  background-position: 10px 12px; /
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

td[id="count"]::before {
  counter-increment: section;
  content: counter(section);
}

thead {
  counter-reset: section;
  background-color: #fff;
}


table, th {
  border-collapse: seperate;
  padding: 10px;
}

tbody, tfoot {
  background-color: #fff;
}

th {
  border-bottom: 1px solid #646c9a;
  background-color: #130d3834;
}

td {
  border-bottom: 1px solid #646c9a;
  border-collapse: collapse;
  padding: 15px;
  text-align: center;
  background-color: #130d3834;
}

tr:hover {
  background: #fff;
}

button {
  padding: 10px;
  font-size: 15px;
  color: #717171;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #767676;
}

a[class="button"] {
  padding: 10px;
  font-size: 15px;
  color: #717171;
  cursor: pointer;
  background: #efefef;
  border: 1px solid #767676;
  border-radius: 3px;
}

.final-list {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  right: 150px;
  margin-right: 0;
}

input[type=url], input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.navbar_wrapper .main_content{
  margin-top: 110px;
  width: 100%;
  margin-left: 200px;
}

.navbar_wrapper .main_content .header {
  margin: 0;
  padding: 0;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  padding: 50px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.navbar_wrapper .main_content .page_content{
  margin-left: 25px;
  margin-top: 25px;
}

.navbar_wrapper .main_content div{
  margin: 10px;
  color: #717171;
  line-height: 25px;
}

.navbar_wrapper .main_content div h2{
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}

.navbar_wrapper .main_content .add_course .buttons {
  display: block;
  padding: 10px;
  margin-bottom: 20px;
}

.navbar_wrapper .main_content .courses_taken div{
  display: block;
  padding: 10px;
  margin-bottom: 20px;
}

.navbar_wrapper .main_content .add_course form {
  width: 50%;
}

.navbar_wrapper .main_content .page_content ol li {
  list-style: decimal;
  list-style-position: inside;

}

.header_buttons {
  position: absolute;
}

.header_buttons button {
  margin: -45px -20px;
}

.navbar_wrapper .main_content .page_content ol .faq-buttons {
  /*display: none;*/
  margin: -45px 0;
  position: absolute;
}

.navbar_wrapper .main_content .page_content ol:hover .faq-buttons {
    display: block;
}

.message-content {
  width: 98%;
  font-size: 19px;
  border-radius: 4px;
  list-style: none;
  padding: 0;
}

.message-content .success-message, .message-content .unsuccess-message, .message-content .info-message {
  display: flex;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
  content: " \25B4\25BE"
}